In [1]:
def my_func(*args):
    return args

In [2]:
my_func(1,2,33)

(1, 2, 33)

In [9]:
def my_kwargs(**kwargs):
    if 'Fruits' in kwargs:
        print('I love {}'.format(kwargs['Fruits']))
    else:
        pass

In [10]:
my_kwargs(Fruits='apple')

I love apple

In [14]:
def my_fun(**kwargs):
    if 'fruit' in kwargs:
        print(f"i like {kwargs['fruit']}")
    else:
        pass

In [15]:
my_fun(fruit='apple')

i like apple

In [36]:
def my_fun(*args,**kwargs):
    if 'food' in kwargs:
        print("i love eating {}" .format(args[1]),(kwargs['food']))
    else:
        pass

In [37]:
my_fun(1,2,3,food='eggs')

i love eating 2 eggs

In [46]:
def myfun(*args,**kwargs):
    if 'food' in kwargs:
        print(f"I love {args[1]} and my favorite food is {kwargs['food']}")
            
    else:
        print("bye")

In [47]:
myfun('fruits','food',food='burger')

I love food and my favorite food is burger

In [50]:
def myfunc(*args):
    while args in int:
        if args%2==0:
            return(args)
        else:
            pass

In [51]:
myfunc(1,2,3,4)

TypeError: argument of type 'type' is not iterable

In [56]:
def myfunc(*args):
    mylist=[]
    for num in args:
        if num%2==0:
            mylist.append(num)
    return mylist

In [57]:
myfunc(1,2,3,4)

[2, 4]

In [54]:
def myfunc(*args):
    out = []
    for num in args:
        if num%2==0:
            out.append(num)
    return out

In [55]:
myfunc(1,2,3,4)

[2, 4]

In [58]:
def myfunc(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [59]:
myfunc(1,2,3)

3

In [76]:
def sumlist(args):
    print(sum(args))

In [77]:
args=[8,2,3,0,7]

In [82]:
sumlist(args)

20

In [79]:
def sum(number):
    tottal =0
    for x in number:
        tottal = tottal+x
        
    return tottal

In [80]:
number=[1,2,3]

In [81]:
sum(number)

6

In [94]:
def mul(num):
    total=1
    for x in num:
        total=total*x
    return total

In [95]:
num=[1,2,3,9]

In [96]:
mul(num)

54

In [114]:
def rev(x):
    x[::-1]
    print(x)

In [115]:
x='abcd'[::-1]

In [116]:
x

'dcba'

In [117]:
y='bcde'[::-1]

In [118]:
y

'edcb'

In [119]:
def fact(x):
    fact=1
    i=1
    for i in range(1,x+1):
        fact=fact*i
    return fact

In [124]:
fact(0)

1

In [126]:
t=0
for i in range(0,5):
    t=t+i
    print(t)

0
1
3
6
10

In [131]:
n = 5
num1=0
num2=1
nextnum=num2
count=1
while count in range(0,n+1):
    count +=1
    print(num1,end=' ')
    nextnum=num1+num2
    num1=num2
    num2=nextnum

0 1 1 2 3

In [134]:
def feb(n):
    num1=0
    num2=1
    num3=num2
    count = 0
    while count in range(0,n+1):
        print(num1,end=' ')
        num3=num1+num2
        num1=num2
        num2=num3
        count +=1

In [135]:
feb(5)

0 1 1 2 3 5

In [136]:
def num(n):
    if n in range(0,10):
        print(n)
    else:
        print('not in range')

In [137]:
num(2)

2

In [138]:
num(10)

not in range

In [150]:
y='aBcd'

In [153]:
y[1].isupper()

True

In [157]:
def myfun(y):
    count1=0
    count2=0
    for a in range(0,len(y)):
        if y[a].isupper():
            count1 +=1
           
        else:
            count2 +=1
            
            
    print('Number of upper case letters: ',count1)
    print('Number of lower case:',count2)

In [158]:
y='ABCd'

In [159]:
myfun(y)

Number of upper case letters:  3
Number of lower case: 1

In [213]:
def myfun(my_list):
    even_list = []
    for i in my_list:
        
        if i%2==0:
            even_list.append(i)
        else:
            pass
    return even_list

In [214]:
my_list=[1,2,3,4,5,6]

In [215]:
myfun(my_list)

[2, 4, 6]

In [182]:
my_list=[1,2,3]

In [184]:
my_list.append(4)

In [185]:
my_list

[1, 2, 3, 4]

In [203]:
def myfu(my_list):
    mylist2=[]
    for i in my_list:
        mylist2.append(i)
    return mylist2

In [204]:
my_list=[1,2,3]

In [205]:
myfu(my_list)

[1, 2, 3]

In [218]:
def perfect_number(n):
    sum = 0
    for x in range(1,n):
        if n % x ==0:
            sum +=x
            
    return sum == n

In [219]:
perfect_number(6)

True

In [220]:
perfect_number(10)

False

In [223]:
stri='abcd'
len(stri)

4

In [269]:
def myfunc(string):
    n=len(string)
    j=len(string)
    for i in range(0,n):
        count=0
        if string[i]==string[n-1]:
            i+=1
            n-=1
            count +=1
            #print('yes {} is a palindrome'.format(string))
            #return string
        else:
            #print('not a palindrome')
            
            break
            
    if count==j:
        print(string+ 'is a palindrome')
    else:
        print(string+'it is not a palindrome')

In [270]:
string='madam'

In [271]:
myfunc(string)

madamit is not a palindrome

In [285]:
def myfun(string):
    n=len(string)
    x=''
    for i in range(n-1,-1,-1):
        x=x+string[i]
        
    print(x)    
    if string == x:
        print(string+' is a palindrome')
    else:
        print(string+' is not a palindrome')

In [286]:
string='madam'

In [287]:
myfun('madam')

madam
madam is a palindrome

In [288]:
myfun('hello')

olleh
hello is not a palindrome

In [289]:
myfun('gaurav')

varuag
gaurav is not a palindrome

In [290]:
myfun('bullabbai')

iabballub
bullabbai is not a palindrome

In [291]:
myfun('aha')

aha
aha is a palindrome

In [298]:
n=int(input())
temp=n
rev=0
while temp !=0:
    r= temp%10
    rev = rev*10+r
    temp=int(temp/10)
print(rev)
if n==rev:
    print('number is a palindrome')
else:
    print('num')

122
221
num

In [299]:
a=10
b=15
a=a+b
b=a-b
a=a-b

In [300]:
a

15

In [301]:
b

10

In [352]:
def myfun(p):
    count=0
    for i in range(1,p):
        j=p%i
        #print(j)
        if j==0:
            count +=1
        
    if count==1:
        print(p, "is a prime number")
    else:
        print(p, "is not a prime number")
    #print("count",count)

In [357]:
myfun(17)

17 is a prime number

In [385]:
for i in range(0,5):
    for j in range(0,i):
        print('*',end=' ')
        
    print('')

*
* *
* * *
* * * *

In [383]:
for i in range(5,0,-1):
    #print('*')
    for j in range (i,0,-1):
        print('#',end='')
    print('')

#####
####
###
##
#

In [396]:
for i in range(5,0,-1):
    #print('*')
    for j in range (0,i):
        print('*',end='')
    print('')

*****
****
***
**
*